# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# VS Hidden Files / Directories
.vs
.log
.recipe
.idb
.lastbuildstate
.enc
.exp
.ilk

# Ignore Debug Directory
**/x64/*

# Ignore Bigger Library Files (Please find a solution to this in the near future!)
Dependencies/AssImp/lib/assimp-vc143-mt.lib
Dependencies/AssImp/lib/assimp-vc143-mtd.lib

# Ignore Non-Essential Files
**/Working/imgui.ini